
# Kafka hosted server url
KAFKA_URL = localhost:9092

# Kafka topic to push notification data
NOTIFICATION_KAFKA_TOPIC = 'notificationtopic'

# MONGODB_URL
MONGODB_URL = mongodb://localhost:27017/tl-cron-rest

# App running port
APPLICATION_PORT = 4000

# Api doc url
API_DOC_URL = '/api-doc'

#MongoDB replica set name
REPLICA_SET_NAME = rs

#MongoDB replica set read Preferance
REPLICA_SET_READ_PREFERENCE = secondaryPreferance

#Winston logging level
ERROR_LOG_LEVEL='silly'

#Disable all logs
DISABLE_LOG=false